img{
    
    width: 150px;
}
.nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: transparent;
}
.name{
    background-color: transparent;
}
.blacknav{
    background-color: black;
}